
<div class="container" >
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group" >
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" required
      [(ngModel)]="user.email" name="useremail"
      #usremail="ngModel" #spy><!-- read exportAs -->
      <!-- {{spy.className}} -->
      <div [hidden]="usremail.valid || usremail.pristine"
        class="alert alert-danger">
        email is required</div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" required
      [(ngModel)]="user.password" name="userpwd">
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">
      Login</button> new user? <a routerLink = "/signup">create profile</a>
  </form>
</div>
