<div class="container">
  <form (ngSubmit)="onSignupFormSubmit()" #loginForm="ngForm">
    <div class="form-group" >
      <input type="email" class="form-control" id="email" required
      [(ngModel)]="user.email" name="useremail" placeholder="email"
      #usremail="ngModel"
       #spy><!-- read exportas -->
      {{spy.className}}
      <div [hidden]="usremail.valid || usremail.pristine"
        class="alert alert-danger">
        email is required</div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="pwd" required
      [(ngModel)]="user.password" placeholder="new password"
      name="userpwd">
    </div>
    <!--  TODO ask for password twice and compare-->
    <button type="submit" [disabled]="!loginForm.form.valid"
      class="btn btn-primary">
      Create</button>
  </form>

</div>
